.header {
  margin: 10vh 0;
  color: #fff;
  text-align: center;
}

.sub {
  color: #fff;
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  flex: 1 0;
}

.center>button {
  margin: 2vw;
}